

  main {

margin: 30px  !important;

font-size: 30px;
color: black;
background-image: url("book.jpg");
border: solid rgb(7, 8, 3);
 height: 800px;

 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

padding-bottom: 200px;
}


#dog {

  cursor: pointer;

}


.info > li {

margin-left: 50px !important;


}



main > div > div > ul > li {
margin-left: 100px;
padding-top: 0.5em;
font-size: 30px;
    list-style:none;

  }

  a {

color: black;
text-decoration: black underline;


  }

  a:hover {

    color: rgb(190, 17, 17);
    
    
    
      }

 /* #id {

visibility: hidden;

  }

*/
    
  .portrait {
    height: 380px;
    width: 300px;
margin-left:85px;



  }
  
  
  #img {

        height: 35px;
width: auto;
      


}

@media screen and (max-width:575px) {

#id {
visibility: visible !important;

}

#img {

display: none !important;

}
.hr {
  display:inherit !important;
}
}


.multicolor:hover {
  background-image: linear-gradient(to left,  indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;


}

