







  main {

margin: 30px  !important;

font-size: 30px;
color: black;
background-image: url("book.jpg");
 border: solid rgb(0, 0, 0);
 height: 100%;

 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

padding-bottom: 200px;
}








main > div > div > ul > li {
margin-left: 100px;
padding-top: 0.5em;
font-size: 30px;
    list-style:none;

  }

  a {

color: black;
text-decoration: black underline;


  }

  a:hover {

    color: rgb(190, 17, 17);
    
    
    
      }

 /* #id {

visibility: hidden;

  }

*/
    
  .portrait {
margin-top: 0px !important;
    margin-left: 100px;
height: 700px;
width: 550px;



  }
  
  
  #img {

        height: 35px;
width: auto;
      


}

@media screen and (max-width:575px) {

#id {
visibility: visible !important;

}

#img {

display: none !important;

}
.hr {
  display:inherit !important;
}
}


.multicolor:hover {
  background-image: linear-gradient(to left,  indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;


}

